<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Her er alle Ordrer</h1>

<form method="POST">
    <table>
        <thead>
        <tr>
            <th>Order Number</th>
            <th>User ID</th>
            <th>Toppings</th>
            <th>Bottoms</th>
            <th>Amount</th>
            <th>Price each</th>
            <th>Total price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${listOfAllOrders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.userId}"></td>
            <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.topping.flavor}"></span><br>
            </span>
            </td>
            <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.bottom.flavor}"></span><br>
            </span>
            </td>
            <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.amount}"></span><br>
            </span>
            </td>
            <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.priceEach}"></span><br>
            </span>
            </td>
            <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.totalprice}"></span><br>
            </span>
            </td>
            <td>
            <span th:each="cupcake: ${order.cupcakes}">
                    <button type="submit" name="orderId" th:value="${order.orderid}" formaction="deleteorder">Delete order</button>
            </span>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>