<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Create User</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/loginstyle.css" th:href="@{/css/loginstyle.css}" rel="loginstylesheet"/>
</head>

<body>
<header>
    <a href="/login.html" th:href="@{/}">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" width="35%"/>
    </a>
</header>

<p>Create user:</p>

<form method="POST">
    <input type="text" name="username" placeholder="Enter your username"/>
    <input type="password" name="password1" placeholder="Enter your password"/>
    <input type="password" name="password2" placeholder="Enter your password again"/>
    <button type="submit" formaction="/createuser">Create user</button>
    <div><p th:text="${message}"></p></div>
</form>

</body>
</html>