<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Her er dine tidligere ordre</h1>

<table>
    <thead>
    <tr>
        <th>Order Number</th>
        <th>Topping</th>
        <th>Bottom</th>
        <th>Amount</th>
        <th>Price each</th>
        <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order: ${listOfOrders}">
        <td th:text="${order.orderId}"></td>
        <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.topping.flavor}"></span><br>
            </span>
        </td>
        <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.bottom.flavor}"></span><br>
            </span>
        </td>
        <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.priceEach}"></span><br>
            </span>
        </td>
        <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.amount}"></span><br>
            </span>
        </td>
        <td>
            <span th:each="cupcake: ${order.cupcakes}">
                <span th:text="${cupcake.totalprice}"></span><br>
            </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>