<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcakes: Welcome! Order Cupcakes Now!</title>
    <link href="/public/css/frontpagestyle.css" th:href="@{/css/frontpagestyle.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia"/>
</head>
<body>
<header>
    <h1 style="font-family: 'Arizonia', sans-serif; background: url('/images/cupcakelogo.png') center no-repeat;">
        Olsker Cupcakes
    </h1>
    <div class="menu-section">
        <nav>
            <div class="left-side">
                <a class="menu-chosen" href="/templates/frontpage.html" th:href="@{/frontpage}"><i class="fa fa-home"
                                                                                                   style="padding-right: 10px"></i>Home</a>
                <a href=""><i class="fa fa-list-ul" style="padding-right: 10px"></i>
                    <span th:if="${#ctx.session.currentUser.role == 'user'}"> <a href="/customerorder" > My Orders</a></span>
                    <span th:if="${#ctx.session.currentUser.role == 'admin'}"><a href="/adminorder" >All Orders</a></span>
                </a>
                <span th:if="${#ctx.session.currentUser.role == 'admin'}"><a href="/payuser"><i class="fa fa-users"
                                                                                        style="padding-right: 10px"></i>Customers</a></span>
            </div>
            <div class="right-side">
                    <span th:if="${#ctx.session.currentUser.role == 'user'}">
                        <a class="basket" href="/templates/basketpage.html" th:href="@{/yourBasket}">
                            <i class="fa" style="font-size:50px;">&#xf07a;</i>
                            <span class='badge' id='lblCartCount' th:text="${amountInBasket}">0</span>
                        </a>
                    </span>
            </div>
        </nav>
    </div>
</header>

<div class="content-section">
    <img src="/public/images/frontpage-bg-img.jpg" alt="Delicious Cupcakes" th:src="@{/images/frontpage-bg-img.jpg}">

    <th:block th:if="${#ctx.session.currentUser.role == 'admin'}">
        <div class="content-display-container">
            <div class="outer-border">
                <div class="inner-border" style="background-color: #dadada"><h4>Welcome Admin!</h4></div>
            </div>
        </div>
        <div class="footer">
            <div>
                <a class="log-out" href="/logout"><i class="fa fa-sign-out" style="padding-left: 10px">Log Out</i></a>
            </div>
        </div>
    </th:block>

    <th:block th:if="${#ctx.session.currentUser.role == 'user'}">
        <div class="content-display-container">
            <div class="outer-border">
                <div class="inner-border">
                    <h3>Order Your Cupcakes Here:</h3>
                    <form th:action="@{/addCupcake}" method="POST">
                        <div class="option-container">
                            <div class="option-single">
                                <label for="bottom">Bottom Flavor:</label>
                                <select id="bottom" name="bottomFlavor">
                                    <option disabled selected>Pick flavor</option>
                                    <option th:each="bottomFlavor: ${allBottomFlavors}"
                                            th:value="${bottomFlavor.flavor}" th:text="${bottomFlavor.flavor}"></option>
                                </select>
                            </div>
                            <div class="option-single">
                                <label for="topping">Topping Flavor:</label>
                                <select id="topping" name="toppingFlavor">
                                    <option disabled selected>Pick flavor</option>
                                    <option th:each="toppingFlavor: ${allToppingFlavors}"
                                            th:value="${toppingFlavor.flavor}"
                                            th:text="${toppingFlavor.flavor}"></option>
                                </select>
                            </div>

                            <div class="option-single">
                                <label for="amount">Quantity:</label>
                                <select id="amount" name="amount">
                                    <option disabled selected>0</option>
                                    <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}">
                                </select>
                            </div>

                        </div>
                        <div class="add-cupcake-container">
                            <p class="fail" th:if="${fail}"><i class="fa fa-exclamation-circle"
                                                               th:text="${' '+fail}"></i></p>
                            <p class="success" th:if="${success}"><i class="fa fa-check-circle"
                                                                     th:text="${' '+success}"></i></p>
                            <button class="add-button" type="submit">Add to basket</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="left-side">
                <h2>Logged in with: <span class="email" th:text="${currentUserEmail}"></span></h2>
            </div>
            <div class="right-side">
                <a class="log-out" href="/logout"><i class="fa fa-sign-out" style="padding-left: 10px">Log Out</i></a>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>