<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link href="/css/logincreateuserpagestyle.css" th:href="@{/css/logincreateuserpagestyle.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia"/>
</head>

<body>
<header>
    <h1 style="font-family: 'Arizonia', sans-serif; background: url('/images/cupcakelogo.png') center no-repeat;">
        Olsker Cupcakes
    </h1>
</header>

<div class="content-section">
    <img src="/images/homepage-bg-img.jpg" alt="Delicious Cupcakes"
         th:src="@{/images/homepage-bg-img.jpg}">
    <th:block>
        <div class="content-display-container">
            <div class="flex-item">
                <h2 class="header-text">Create User</h2>
                <form class="generic-form" method="POST">
                    <input type="text" name="email" placeholder="Enter your email"/>
                    <input type="password" name="password1" placeholder="Enter your password"/>
                    <input type="password" name="password2" placeholder="Enter your password again"/>
                    <button type="submit" formaction="/createuser">Create user</button>
                    <div style="font-weight: bolder"><p th:text="${message}"></p></div>
                    <p>Already have an account? <a href="login-page.html" th:href="@{/}">Sign in</a></p>
                </form>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>